@{
    ViewData["Title"] = "ViewModel Fun";
}

<div class="container rounded p-5 my-5 col-5 shadow">
    <h1 class="display-5 text-center">Student Form</h1>
    <hr>
    <form action="/student/register" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
            <input class="form-control" type="text" name="Name">
        </div>
        <div class="form-group">
            <label for="House">House</label>
            <input class="form-control" type="text" name="House">
        </div>
        <div class="form-group">
            <label for="CurrentYear">Current Year</label>
            <input class="form-control" type="number" name="CurrentYear">
        </div>
        <button type="submit" class="btn btn-primary col-12 my-4">Submit</button>
    </form>
</div>
