@{
    ViewData["Title"] = "ViewModel Fun";
}

@model User
<div class="text-center">
    <h1 class="display-1">A User</h1>
    <p class="lead">@Model.FirstName</p>
    <p class="lead">@Model.LastName</p>
</div>
