@{
    ViewData["Title"] = "Home Page";
}

@model Friend
<div class="container col-lg-6 col-sm-10 rounded shadow p-5 my-5">
    <p>Here is the info from my viewbag @ViewBag.MyNum</p>
    <p>Here is the info from my model @Model.Age</p>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, quam.</p>
</div>