@{
    ViewData["Title"] = "Second Page";
}

<div class="container col-6 rounded shadow p-5 my-5">
    <h1>This is a nother page</h1>
    <hr>
    <p>This is some more text.</p>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, quam.</p>
</div>