@{
    ViewData["Title"] = "Home Page";
}

@model Product
<div class="container col-5 rounded shadow p-5 mt-3">
    <h1>Add Product</h1>
    <form asp-action="ProductCreate" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <span class="text-danger" asp-validation-for="Name"></span>
            <input class="form-control" asp-for="Name" type="text">
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <span class="text-danger" asp-validation-for="Description"></span>
            <input class="form-control" asp-for="Description" type="text">
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <span class="text-danger" asp-validation-for="Price"></span>
            <input class="form-control" asp-for="Price" type="number" step="0.01">
        </div>
        <button class="btn btn-outline-primary col-12 mt-4">Submit</button>
    </form>
</div>
<div class="container col-5 p-5 mt-3">
    <h1>Products</h1>
    @foreach(Product p in ViewBag.All)
    {
        <a href="/products/@p.ProductId"><p class="lead">@p.Name</p></a>
    }
    <hr>
</div>
