@{
    ViewData["Title"] = "Home Page";
}

@model User
<div class="container col-6 shadow rounded p-5 my-5">
    <h2 class="display-4 text-center">Form</h2>
    <hr>
    <form id="indexForm" action="/update" method="post">
        <div class="form-group">
            <label asp-for="FirstName" ></label>
            <span class="text-danger" asp-validation-for="FirstName"></span>
            <input class="form-control" asp-for="FirstName" type="text">
        </div>
        <div class="form-group">
            <label asp-for="LastName" ></label>
            <span class="text-danger" asp-validation-for="LastName"></span>
            <input class="form-control" asp-for="LastName" type="text">
        </div>
        <div class="form-group">
            <label asp-for="Email" ></label>
            <span class="text-danger" asp-validation-for="Email"></span>
            <input class="form-control" asp-for="Email" type="text">
        </div>
        <div class="form-group">
            <label asp-for="Password" ></label>
            <span class="text-danger" asp-validation-for="Password"></span>
            <input class="form-control" asp-for="Password" type="password">
        </div>
        <button class="btn btn-outline-primary col-12 mt-3">Submit</button>
    </form>
</div>

<div class="container col-6 shadow rounded p-5 my-5">
    @foreach (User u in ViewBag.AllUsers)
    {
        <p>ID: @u.UserId</p>
        <p>Name: @u.FirstName @u.LastName</p>
        <p>Email: @u.Email</p>
        <hr>
    }
</div>
