@{
    ViewData["Title"] = "Wedding Planner";
}

@model ViewModel
<div class="container justify-content-center col-12 d-flex gap-3">
    @await Html.PartialAsync("_Registration", @Model.User)
    @await Html.PartialAsync("_Login", @Model.LoginUser)
</div>