@{
    ViewData["Title"] = "Result";
}

@model User
<div class="container col-4 rounded shadow p-5 my-5">
    <h1 class="display-5">@Model.Name</h1>
    <p class="lead">@Model.Location</p>
    <p class="lead">@Model.Language</p>
    <p class="text-muted">@Model.Message</p>
    <a class="btn btn-outline-secondary" href="/">Go Back</a>
</div>


